  <article id="pomodoro">
    <div id="maintitle" class="center">Pomodoro Timer</div>
    <div id="timerbody" class="center">
      <div id="cHolder" class="row">
        <div class="inner_holder">
        <div id="cWork" class="col-xs-5 center">Work
          <div class="row">
            <button id="work_plus" class="col-xs-4 cbut">+</button>
            <div id="work_view" class="col-xs-4">25</div>
            <button id="work_minus" class="col-xs-4 cbut">-</button>
          </div>
        </div>
        <div id="cBreak" class="col-xs-5">Break
          <div class="row">
            <button id="break_plus" class="col-xs-4 cbut">+</button>
            <div id="break_view" class="col-xs-4">5</div>
            <button id="break_minus" class="col-xs-4 cbut">-</button>
          </div>
        </div>
          </div>
      </div>

      <div id="clock" class="inactive">
        25:00
      </div>
    </div>
  <%= javascript_include_tag "pomodoro.js" %>
  </article>
