<h1 class="main_h1">TOP PAGE</h1>
<p>introduction my application！！</p>
<p>coming soon</p>


  <div style="text-align: center;">
    <h1>pomotas</h1>
    <h1>作業効率向上を目指す</h1>
    <h2>ポモドーロとタスクリストを組み合わせた作業効率推進アプリ</h2>
    <br>
    <div>
    ≪お試しはこちらから≫
    <%= link_to 'ゲストログイン（一般閲覧用）', users_guest_sign_in_path, method: :post %>
    <%= link_to 'ゲストログイン（管理者閲覧用）', users_admin_guest_sign_in_path, method: :post %>
    </div>
  <div>

<div class="top_flex">
  <div class="item left">
    <h5>タスクを登録して、ポモドーロタイマーをスタート！！</h5>
    <p>タスク内容と締め切り日を入力してタスクを登録します。</p>
    <p>タスクを登録したら、再生▶︎ボタンを押してポモドーページへGO！！</p>
    <p>時計を押して25分間作業に集中してください。</p>
    <p>※お好みで1分～60分までWork(作業時間)とBreak(休憩時間)をアレンジできます。</p>
  </div>
  <div class="item right">画像が入る予定！</div>
</div>

<div class="top_flex">
  <div class="item left">
    <h5>タイマーが完了したら音でお知らせ</h5>
    <p>タイマーが終わると音でお知らせします。</p>
    <p>Work(作業時間)の時間が完了したら</p>
    <p>Break(休憩時間)が５分間の休憩タイマーが始まります。</p>
    <p>時間にメリハリを持たせてレッツ全集中！！</p>
  </div>
  <div class="item right">画像が入る予定！</div>
</div>

<div class="top_flex">
  <div class="item left">
    <h5>実行していたタスクで気づいた事をコメントでメモできます。</h5>
    <br>
    <p>読んでいた本、ちょっと知った勉強、仕事での気付き</p>
    <p>些細な事をしたためてください。もしかした次の貴方の【何か】に繋がるかも。。</p>
    <small>心の叫びでも良いですよ(笑)</small>
  </div>
  <div class="item right">画像が入る予定！</div>
</div>

<div>
    <h2>つかいかた</h2>
    <h5>タスクを登録して、ポモドーロタイマーをスタート！！</h5>
    <p>タスク内容と締め切り日を入力してタスクを登録します。</p>
    <p>タスクを登録したら、再生▶︎ボタンを押してポモドーページへGO！！</p>
    <p>時計を押して25分間作業に集中してください。</p>
    <p>※お好みで1分～60分までWork(作業時間)とBreak(休憩時間)をアレンジできます。</p>
    <img :src="bar_graph_image_src" width="300px">
    <h5>タイマーが完了したら音でお知らせ</h5>
    <p>タイマーが終わると音でお知らせします。</p>
    <p>Work(作業時間)の時間が完了したら</p>
    <p>Break(休憩時間)が５分間の休憩タイマーが始まります。</p>
    <p>時間にメリハリを持たせてレッツ全集中！！</p>
    <img :src="bar_graph_image_src" width="300px">
    <h5 class="mb-5">実行していたタスクで気づいた事をコメントでメモできます。</h5>
    <br>
    <p>読んでいた本、ちょっと知った勉強、仕事での気付き</p>
    <p>些細な事をしたためてください。もしかした次の貴方の【何か】に繋がるかも。。</p>
    <small>心の叫びでも良いですよ(笑)</small>
</div>



