<h1>TOP PAGE</h1>
<p>introduction my application！！</p>
<p>coming soon</p>

<%= link_to 'ゲストログイン（一般閲覧用）', users_guest_sign_in_path, method: :post %>
<%= link_to 'ゲストログイン（管理者閲覧用）', users_admin_guest_sign_in_path, method: :post %>

