/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*ページネーション自体のデザイン*/
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
  border-radius: 15px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px; /*角を丸くする*/
}

header {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: rgb(125, 126, 125); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
}
header .container {
  padding: 10px;
}
footer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: rgb(125, 126, 125); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(125, 126, 125, 1) 0%,
    rgba(14, 14, 14, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  text-align: center;
  padding: 20px 10px 10px;
}
footer p {
  margin: 0;
}
