/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/*ページネーション自体のデザイン*/
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
  border-radius: 15px; /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination > li > a:hover {
  border-radius: 15px; /*角を丸くする*/
}

header {
  // background: #f8b500;
  background-image: image-url("woody.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  color: #752100;
}
header a {
  color: #752100;
}
header .container {
  padding: 10px;
}
header h1 {
  margin-right: 20px;
}
header nav ul li {
  margin: 0 10px;
}
header .bg-light {
  background: rgba(255, 255, 255, 0.6) !important;
}
footer {
  // background: #f8b500;
  background-image: image-url("woody.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  color: #752100;
  text-align: center;
  padding: 20px 10px 10px;
}
footer p {
  margin: 0;
}
.main_content {
  padding: 40px 0;
  background-image: image-url("notepage.png");
  background-position: center top;
  // background-repeat: no-repeat;
  background-size: 1280px auto;
}
.main_content .main_h1 {
  font-size: 1.5em; /* フォントサイズ */
  font-weight: bold; /* フォント太さ */
  padding: 0.5em;
  margin-bottom: 2em;
  border-radius: 15px; /* 角丸 */
  border: 3px solid #752100;
  color: #752100; /* フォント色 */
}
