// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border: 5px solid rgb(0, 0, 0);
}
.top_flex .item {
  width: 49%;
  padding: 10px;
}
.top_flex .right .img {
  text-align: center;
}
.top_flex .right img {
  width: 80%;
  height: auto;
}
.box13 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #fff;
  background: #ffbb01;
  border-bottom: solid 6px #e6c510;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
.box13 p {
  margin: 0;
  padding: 0;
}

.link_color {
  color: black;
}
