// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}
.top_flex .item {
  width: 49%;
  padding: 10px;
}
// .top_flex .left {
// }
// .top_flex .right {
// }
